// Colors variables
$light: #fff;
$whitesmoke: whitesmoke;
$dark: #222;
$gray: #ddd;
$green: rgb(59, 237, 151);
$lightGreen: rgba(59, 237, 119, 0.556);
$transparentColor: rgb(15 116 143 / 30%);
$yellow: rgba(237, 233, 5, 0.986);
$purple: rgb(157, 7, 135);
$darkRed: rgb(164, 7, 34);
$violet: #7d2ae8;

// Transitions
$transition: all .4s ease-in-out;