// Importing variable file
@use '../../partials/variables' as *;

// Styling the about component
.about {
    padding: 14rem 20rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
        // margin: 0 auto;

        .left-about {
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 180px; // 140px
                width: 220px; // 140px
                z-index: -1;
            }
            
            &::before {
                top: -50px;
                left: -50px;
                border-top: 1rem solid $green;
                border-left: 1rem solid $green;
            }

            &::after {
                bottom: -40px;
                right: -50px;
                border-bottom: 1rem solid $green;
                border-right: 1rem solid $green;
            }
            img {
                width: 12rem;
                z-index: 99;
            }
        }

        .right-about {

            p {
                margin-top: .625rem;
                line-height: 1.6;
                color: #777;
                font-size: 1.125rem;
            }
        }
    }
}